body {
    font-family: Arial, sans-serif;
}

#dashboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.graph {
    margin: 10px;
    padding: 20px;
    background-color: #CCCCCC;
    border-radius: 5px;
}

.graph h2 {
    margin-top: 0;
}



.Modal{
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.modalContent{
    background: white;
    position: absolute;
    z-index: 1;
    padding: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.backGround{
    background: linear-gradient(300deg, #34bce9, #000000, #dc1cf9);
    background-size: 180%, 180%;
    animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}